body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('imagess/1.jpg');  /* Assurez-vous que le chemin est correct */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh; /* Ajoutez ceci pour garantir que le body prend 100% de la hauteur de l'écran */
    
}
.hada{ 
	  background: rgb(128, 64, 64) ;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: white;
  color : black;
}


h1 {
    color: #000; /* Change la couleur du texte du titre h1 en noir */
   
}


.container {
    padding: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #433b4a;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}






